<!DOCTYPE html>
<html>
  <head>
    <title>About |Time Tracker 3000</title>
  </head>
  <div class="center jumbotron">
  <body>
    <h1>Time Tracker 3000</h1>
    <p>
      The latest and greatest way to track all your time 
    </p>
    </div>
  </body>
</html>
