<!DOCTYPE html>
<html>
  <head>
    <title>Home | Time Tracker 3000</title>
  </head>
  <body>
    <div class="center jumbotron">
      <h1>Time Tracker 3000</h1>
      <p>
        Track how you spend your time with the Time Tracker 3000
      </p>
      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
      <br>
      <br>
      <%= link_to "Log in now!", login_path, class: "btn btn-lg btn-primary" %>
      </div>
</div>
  </body>
</html>


